.header {
    background-image:  url(../public/img/gold-tropical-pineapple-pastel-pink-background-flat-lay-summer-background_601748-33758.jpg);
    background-size: cover;
    background-position: 10% 90%;
    padding: 5rem 0;
}